<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="/static/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/valleyforge.css"/>
</head>
<body>
    <!-- parent application, associated with src/js/init
         and src/js/app.js. parent scope for all components
         that are rendered with the below templates.
    -->
    <div class="container" id="app">
        <div class="jumbotron text-center">
            <h2>Valley Forge</h2>
            <h5>English anagrams</h5>
            <img v-if="ss.searching" src="/static/img/loader.gif"/>
        </div>
        <search></search>
        <anagrams></anagrams>
    </div>

    <!-- associated with src/js/search.js
         renders the search input and stop
         button
    -->
    <template id="search">
        <div class="row">
            <div class="col-md-8">
                <input v-on:keyup.enter="search" class="form-control" v-model="words"/>
            </div>
            <div class="col-md-4">
                <button v-bind:disabled="!ss.searching" v-on:click="stop" class="btn btn-primary btn-block">stop</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Permutations considered: [[ permutations ]]
            </div>
        </div>
    </template>

    <!-- associated with src/js/anagrams.js
         renders the anagram list in the global
         scope (ss.anagrams)
    -->
    <template id="anagrams">
        <div class="row">
            <div class="col-md-12">
                <div class="well text-center">
                    <div v-for="anagram in ss.anagrams">[[ anagram ]]</div>
                </div>
            </div>
        </div>
    </template>
<script src="/static/components/jquery/dist/jquery.min.js"></script>
<script src="/static/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/components/vue/dist/vue.js"></script>
<script src="/static/js/valleyforge.js"></script>
</body>
</html>